<h1> <%= @link_up.name %> </h1><br>

<h4>Location: <%= @link_up.location.name %></h4><br>
<h4>Date: <%= @link_up.datetime.strftime("%B") %> <%= @link_up.datetime.strftime("%y") %>, <%= @link_up.datetime.strftime("%Y") %></h4><br>
<h4>Time: <%= @link_up.datetime.strftime("%I") %>:<%= @link_up.datetime.strftime("%M") %> <%= @link_up.datetime.strftime("%p") %></h4><br>
<h4>Description: <%= @link_up.description %></h4><br>
<h4>Host: <%= link_to @host.username, @host %></h4><br>

<% @guests.each do |g| %>
      <% if g.link_up_id == @link_up.id %>
            <h4>Guest: <%= link_to g.user.username, g.user %></h4>
      <% end %>
<% end %>



<h4><%= link_to 'Edit LinkUp', edit_link_up_path, class: "btn btn-secondary"%></h4>
