<div class="form_container">

<h2>Forge a Link-Up!</h2>

Host: <%= @current_user.username %>

Guest: <%= @user.username %>

<%= form_for @link_up do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Name this LinkUp!" %>
</div>

<div class="">
  <%= f.label :location%>
  <%= f.collection_select(:location_id, @locations, :id, :name) %>
</div>

<div><%= f.datetime_select :datetime, ampm: true %> </div>

<div>
  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Provide some details" %>
</div>

<%= f.hidden_field :host_user_id, value: @current_user.id %>
<%= f.hidden_field :guest_user_id, value: @user.id %>

<%= f.submit "Create LinkUp", class: "btn btn-large btn-primary" %>
<% end %>
</div>
