<div class="form_container col-md-4 offset-md-4">
  <h2>Sign Up</h2>
<%= form_for @user do |f| %>
<div class="form-group"><%= f.label :first_name %>
  <%= f.text_field :first_name, {:class => 'form-control'} %>
</div>

  <div class="form-group">
     <%= f.label :last_name %>
    <%= f.text_field :last_name, {:class => 'form-control'} %>
    </div>

  <div class="form-group">
     <%= f.label :email %>
    <%= f.text_field :email, {:class => 'form-control'} %>
  </div>

  <div class="form-group">  <%= f.label "Profile Photo" %>
    <%= f.text_field :image_url, placeholder: "Copy image url here", :class => 'form-control' %>
  </div>

<div class="form-group">
<%= f.label :bio %>
  <%= f.text_area :bio, {:class => 'form-control'} %>
  </div>

<div class="form-group">
<%= f.label :interests %><br>
<% @interests.each do |i| %>
  <%= check_box_tag 'i_ids[]', i.id -%>
       <%= h i.name -%>
  <% end %>
  </div>

    <%= f.submit :class => 'btn btn-block btn-primary' %>

<% end %>
