<h1> -<%= @interest.name %>- </h1>

<h2>Users who share this interest:</h2>

  <div class="row">
  <%  @user_interests.each do |u| %>
        <% if u.interest == @interest && u.user != @current_user %>
            <div class="col-lg-3 col-md-6">
              <h4><%= u.user.username%></h4>
            <img src= '<%=u.user.image_url%>', height=200><br></br>
            <%= link_to 'View Profile', u.user, class: "btn btn-secondary" %>
        <% end %>
      <% end %>


<br></br>
<%= link_to 'Back to My Profile', user_path(@current_user), class: "btn btn-primary"%>

</div>
