<style>
.content {
    columns:3;
    column-gap: 50px;
}

.heading {
      max-width: 500px;
      margin: auto;
}

.item1 {
  rows:1;
}


</style>


<body>

  <div class="heading">

  <br><h1 align="center"><span style="background-color: mediumblue"><font color="white">-<%= @interest.name %>-</font></span></h1>

  <h2 align="center">Users who share this interest:</h2><br></br>
  </div>

<div class="content" align="center">

  <%  @user_interests.each do |u| %>
        <% if u.interest == @interest && u.user != @current_user %>
            <div class="item">
            <h3><span style="background-color: teal"><font color="white"><%= u.user.username%></font></span><br>
            <br><img src= '<%=u.user.image_url%>', height=200></br>
            <br><%= link_to 'View Profile', u.user, class: "btn btn-secondary" %></h3>  </div>
        <% end %>

      <% end %>


<br></br>

</div>
</body>

<%= link_to 'Back to My Profile', user_path(@current_user), class: "btn btn-primary"%>
