<h1> -<%= @interest.name %>- </h1><br>

<h4>Users who share this interest:</h4><br>
<ul><%  @user_interests.each do |u| %>
      <% if u.interest == @interest && u.user.id != session[:user_id] %>
          <div><h4><%= u.user.username%></h4>
          <img src= '<%=u.user.image_url%>', height=200><br></br>
          <%= link_to 'View Profile', u.user, class: "btn btn-secondary" %>
        </div><br>
      <% end %>
    <% end %>
  </ul><br>

      <h4><%= link_to 'Back to My Profile', @user, class: "btn btn-primary"%><br></h4>
